body, html {
    padding: 0;
    margin: 0;
    background-color: #666666;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b8b8b8;
    padding: 1rem;
}

#escudo {
    width: 80px;
    height: auto;
}

h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #000000;
}

#inputPesquisa {
    width: 80%;
    margin: 20px auto;
    display: block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
    border-radius: 5px;
    height: 40px;
    border: 4px solid #38faa9;
    padding: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    background-color: #1a1a1a;
    color: #fff;
    outline: none;
}

button {
    color: #fff;
    padding: 10px 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    margin: 10px;
    cursor: pointer;
    background-color: #1a1a1a;
    border: 2px solid #38faa9;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

button:hover {
    background-color: #000000;
    color: #ffffff;
}

#btns {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20px;
    padding: 20px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    background-color: #176343;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px #00ff15;
    text-align: center;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    overflow: hidden;
}

.card:hover {
    background-color: #27aa73; 
    color: #0d0d0d;
    border: 2px solid #ffffff; 
}

.player-image {
    width: 100%;
    height: auto;
    max-height: 200px;
    border-radius: 8px;
    object-fit: cover;
}

.player-name {
    font-weight: 400;
    font-size: 1.3rem;
    text-align: center;
    color: white;
    background-color: black;
    margin: 0;
    padding: 8px;
    border-radius: 5px;
}

@media screen and (max-width: 767px) {
    .container {
        grid-template-columns: 1fr;
    }
    #btns {
        display: none;
    }
    #select {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
    #btns {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    #select {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
    }
    #btns {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    #select {
        display: none;
    }
}
